* {
  /*formatea todo el body*/
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

/*Hamburguesa para responsive*/
.menu-toggle {
  display: none;
  font-size: 50px;
  color: #1D8696;
}

/* Responsive*/

@media (max-width: 700px) {
  header {
    width: 100%;
    height: 50px;
  }

  #top-nav{
    display:none;
  }

  #top-nav2{
    display: flex;
  }

.btn-menu2 {
  text-align: center;
  width: 100%;
  padding: 1% 2%;
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  background: rgba(75, 234, 82, 0.57);
}

.btn-menu2:hover {
  /* Linea que aparece abajo de cada enlace del menu */
  background: #1D8696;
  color: #ffffff;
}

#btn-holder>img {
  width: 20px;
}

body{
  width: 100%;
  min-width: 370px;
}
  #pag-home, #pag-tips {
    background-image:none;
  }

  .dPokemon{
    padding: 1% 1% 8%;
  }

  #text-ranking{
    width: 80%;
  }

  #rankingP{
    width: 80%;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    transform: rotate(90deg);
  }

}

@media (min-width: 701px){

  header {
    width: 100%;
    height: 100px;
  }

  #top-nav {
  display: flex;
  align-items: center;
  align-content: center;
}
#top-nav2{
  display: none;

}

#btn-holder>img {
  width: 30px;
}

.dPokemon{
  padding: 1% 0%;
}

#text-ranking{
  width: 70%;
  margin-top: 2%;
}

#rankingP{
  width: 70%;
}

.arrow {
  height: 50px;
  width: 50px;
}

#browser>input {
  width: 100%;

}
}
@media (min-width: 1300px){

  #pag-home {
    background-image: url(./Images/background-01.jpg);
    background-size: cover;
  }

  #pag-tips {
    background-image: url(./Images/background-01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* fin responsive*/

/* Header*/

.site-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  background-color: #ffffff;
}

.img-logo {
  width: 80%;
  min-width: 150px;
}

#logoBtn,
#browser {
  display: flex;
  align-items: center;
  align-content: center;
}

#logoBtn {
  width: 30%;
  padding-right: 10%;
}

#top-nav {
  width: 40%;
  flex-wrap: wrap;
}

#browser {
  width: 30%;
}

.btn-menu,
.intro-text {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}

.btn-menu:hover {
  /* Linea que aparece abajo de cada enlace del menu */
  border-bottom: 2px solid #4BEA52;
  transition: 0.6s;
  /*tiempo en realizar el efecto */
}


#browser>input {
  width: 270px;
  height: 30px;
  color: #9C9A9A;
  background: #E5E5E5;
  border-radius: 45px;
  text-align: center;
  border-style: hidden;
}

::placeholder {
  color: #9C9A9A;
  text-align: center;
}

:placeholder-shown {
  color: #9C9A9A;
  text-align: center;
}



/* Main- seccion home */
#pag-home {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
}

/*averiguar otras medidas*/
.intro-img {
  /* iconos pag-home*/
  width: 220px;
}


.intro-text {
  /* Texto pag-home*/
  text-align: center;
}

#intro-text,
#img-container {
  display: flex;
  flex-wrap: wrap;
}

#intro-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}


#intro-text>h1,
.welcome-text {
  padding: 1% 20%;
}

#img-container {
  width: 70%;
  justify-content:center;
  padding-bottom: 5%;
}

h1 {
  text-align: center;
}

#welcome-text {
  text-align: center;
}

#text-list{
  width: 50%;
  margin-top: 1%;
  margin-bottom: 5%;
}

/*Seccion Pokedex */
#pag-pokedex,
#pag-ranking,
#pag-tips {
  display: none;
}

#pokemon-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.poke-card {
  display: inline-block;
  width: 150px;
  height: 230px;
  border-radius: 20px;
  background-color: #E5E5E5;
  margin: 5px;
  padding-top: 10px;
  text-align: center;
}

/* Footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 40px;
  background: rgba(75, 234, 82, 0.57);

}

/**/
.text-pokedex> p {
  font-size: 22px;
  text-align: center;
  padding: 1% 10%;
}
/*contenedor dropdown list*/
.select-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  min-width: 374px;
  padding: 5px;
}

.dropdown-filters {
  border-radius: 20px;
  background-color: #E5E5E5;
  width: 150px;
  height: 30px;

}
/*bloqueo*/
.dropdown-filters option:hover::before {
  color: #546c84;
  background-color: #fbfbfb;
}

.tips-text,.tips-text-2> h3 {
  padding: 1% 10%;
  text-align: center;
}

.tips-text-2> p {
  text-align: left;
  padding: 2% 15%;
}

.tips-video {
  display: flex;
  justify-content: center;
  padding: 1% 10%; /*porcentajes*/

}

/*Etiquetas pokemon tipo de las cardDiv*/
.text-types span::before {
  border-radius: 22px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;
  color: white;
}

.grass::before {
  content: 'Green';
  background: #78C850;
}

.poison::before {
  content: 'Poison';
  background: #A040A0;
}

.water::before {
  content: 'Water';
  background: #6890F0;
}

.bug::before {
  content: 'Bug';
  background: #A8B820;
}

.dragon::before {
  content: 'Dragon';
  background: #7860E0;
}

.electric::before {
  content: 'Electric';
  background: #F8D030;
}

.ghost::before {
  content: 'Ghost';
  background: #6060B0;
}

.fire::before {
  content: 'Fire';
  background: #F08030;
}

.ice::before {
  content: 'Ice';
  background: #98D8D8;
}

.fighting::before {
  content: 'Fighting';
  background: #C02038;
}

.normal::before {
  content: 'Normal';
  background: #A8A878;
}

.psychic::before{
  content: 'Psychic';
  background: #F85888;
}

.rock::before {
  content: 'Rock';
  background: #B8A058 ;
}

.ground::before {
  content: 'Ground';
  background: #E0C068;
}

.flying::before {
  content: 'Flying';
  background: #A890F0;
}

/*Página Pokedex-detalle*/
#pokedexDetail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  padding: 0% 5%;
  text-align: center;
  font-size: 20px;
}

#imgPokemon> hr {
  border-bottom: 2px solid #4BEA52;
}

.left-style {
margin-bottom: 3%;

}

.centerStyle {
  margin-bottom: 15%;
}

#eggIcon, #candyStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0% 30%;
}

.titleStyle {
  border-radius: 22px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;
  background: #EBEBEB;
}

#weaknessesP {
 display: flex;
 flex-direction: column;
}

.rightStyle {
  margin-bottom: 6%;
}

.evolution-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  padding: 1% 25%;
}

.evolutionTitle {
  text-align: center;
}

.arrow {
  height: 50px;
  width: 50px;
}

/* Tabla ranking*/

#text-ranking>p{
  font-size: 22px;
}

#tableR {
  border-spacing: 1;
  border-collapse: collapse;
  background: #F4F4F4;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 5%;
  text-align: center;
  font-size: px;
}

#tableR td, #customers th {
  border: 1px solid #ddd;
}

#tableR tr:hover {
  background-color: #ddd;
}

.column3{
  display: flex;
  align-items: center;
  justify-content: center;
}

.column3>img{
  max-width: 50px;
  margin: 1%
}

#tableR th {
  border: 1px solid white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgba(75, 234, 82, 0.57);
  color: black;
}

.btnDetails{
  margin-top: 10px;
  border-radius: 20px;
  border-color: #1D8696;
  width: 60%;
}

.btnDetails:hover{
  background-color: #1D8696;
  color: white;
}

.box_search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}

.search_list_container {
  width: 270px;
  margin-top: 5px;
}

.search_list {
  width: 270px;
  position: absolute;
  padding: 0;

  list-style-type: none;
  background-color: #E5E5E5;
  max-height: 500px; 
  overflow-y: auto;
}

.search_list li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: 1em;
  padding: .25em 1em;
}

.search_list li:hover {
  background-color: #99f39c;
}

.search_list {
  border-radius: 5px;
}

.search-image {
  max-height: 30px;
}
